Repository GoogleCloudPlatform/gcloud-golang, changes with the owners that .github/CODEOWNERS names for each.
All owners: @codyoss, @tbpg, @tritone, @shollyman, @hongalex, @skuruppu, @googleapis/api-logging, @nicoleczhu

chore(bigtable): switch to google.golang.org/protobuf
  bigtable/admin.go
  bigtable/bigtable.go
  bigtable/bttest/inmem.go
  bigtable/bttest/inmem_test.go
  bigtable/bttest/instance_server.go
  bigtable/conformance_test.go
  bigtable/gc.go
  bigtable/go.mod
  bigtable/integration_test.go
  bigtable/internal/conformance/README.md
  bigtable/internal/conformance/tests.pb.go
  bigtable/internal/conformance/tests.proto
  bigtable/reader_test.go
  bigtable/retry_test.go
Owners: @tritone

chore: release bigtable 1.10.2
  bigtable/CHANGES.md
Owners: @tritone

chore(all): update module github.com/google/go-github/v35 to v37
  internal/gapicgen/go.mod
Owners: @codyoss, @tbpg

add leftovers buffer
  storage/reader.go
Owners: @tritone

remove print statements
  storage/reader.go
Owners: @tritone

feat(storage): implement Read with gRPC
  storage/reader.go
  storage/storage.go
Owners: @tritone

subtract from remaining
  storage/reader.go
Owners: @tritone

chore: release spanner 1.24.0
  spanner/CHANGES.md
Owners: @skuruppu

chore: release bigquery 1.20.0
  bigquery/CHANGES.md
Owners: @shollyman

chore: release datastore 1.6.0
  datastore/CHANGES.md
Owners: @tritone

chore: release storage 1.16.1
  storage/CHANGES.md
Owners: @tritone

chore: release logging 2.0.0
  logging/CHANGES.md
Owners: @googleapis/api-logging, @nicoleczhu

chore: release firestore 1.6.0
  firestore/CHANGES.md
Owners: @tritone

.github/CODEOWNERS:

# Default owner for all directories not owned by others
*                   @codyoss @tbpg

/bigtable/          @tritone
/bigquery/          @shollyman
/datastore/         @tritone
/firestore/         @tritone
/pubsub/            @hongalex
/spanner/           @skuruppu
/storage/           @tritone
/errorreporting/    @googleapis/api-logging @nicoleczhu
/logging/           @googleapis/api-logging @nicoleczhu
